%input {
  padding: 8px;
  color: #b95d8d;
  border-radius: 5px;
  border: 2px solid #89667c;

  &:hover {
    /* outline: none; */
    border-color: #fcb0b3;

    cursor: pointer;
  }

  &:focus {
    outline-color: #f0d1db;
  }
}
