html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
  display: flex;
  flex-direction: column;
  width: 99%;
  align-items: center;
}

.extra-cards-btn {
  background-color: brown;
  color: azure;
  font-size: 25px;
}

.is-hidden {
  display: none;
}

#search-form {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 5px;
}

.search-input {
  width: 100%;
  font-size: 25px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  width: 99%;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-card {
  width: 300px;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
